sp-input-group {
  --border-radius: 0.25rem;
  --error-color: red;
  --primary-color: '#212121';
  display: block;
}

sp-input-group > * {
  display: block;
}

sp-input-group span[id$=-error] {
  color: var(--error-color);
}

input,
textarea {
  border: 2px solid;
  border-radius: var(--border-radius);
  border-color: var(--primary-color);
  font: inherit;
  padding: 0.75rem 0.75rem;
  transition: border-color 200ms ease;
}

.no-wc input:invalid,
[aria-invalid=true] {
  border-color: var(--error-color);
}